use_nvm v22
layout node
PATH_add .direnv/bin
has pnpm || npm install -g pnpm
has ni || pnpm install -g @antfu/ni
pnpm=$(type pnpm | cut -f3 -d ' ')
mkdir -p node_modules/.bin
test -f node_modules/.bin/npm || ln -s $pnpm node_modules/.bin/npm
test -f node_modules/.bin/yarn || ln -s $pnpm node_modules/.bin/yarn
